
.loged-header {
  padding: 20px 0;
  background: #000;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div {
      &:nth-child(1) {
        flex: 1;
        background: green;
      }
      &:nth-child(2) {
        flex: 2;
        color: #fff;
        padding: 0 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline;
            margin: 0 10px;
            a {
              color: #fff;
              &:hover {
                color: #FFB054;
              }
            }
            button {
              background: #FFB540;
              border: 1px solid #ffffff;
              text-transform: uppercase;
              color: #000;
              padding: 3px 10px;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.slider {
  margin: 20px 0;
}

.mid {
  margin: 25px 0;
  .midNav {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-flex;
      margin: 5px 10px;
      a {
        text-decoration: none;
        color: #040404;
        padding: 5px 10px;
        background: #e2e2e2;
        border: 1px solid black;
        border-radius: 3px;
        &:hover {
          color: #fff;
          background: #FFB540;
        }
      }
      button {
        background: #FFB540;
        border: 1px solid #ffffff;
        text-transform: uppercase;
        color: #000;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: bold;
      }
    }

  }
}

.site-header {
  .others {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #fffed4;
  }
  .navbar {
    padding: 0;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .count {
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50%;
      background: #FFC107;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-size: 11px;
      font-weight: bold;
      position: absolute;
      top: -7px;
      left: 23px;
    }
    i {
      font-size: 2rem;
      margin-right: 12px;
      color: #9ca91b;
    }
    span {
      font-weight: bold;
      margin-left: 15px;
      color: #464646;
    }
  }
  .topbar {
    padding: 7px;
    color:#3b3c3b;
    border-bottom: 1px solid #ececec;
    a {
      color: #fff;
    }
    .barInner {
      display: flex;
      align-items: center;
      justify-content: center;

      .items {
        padding:0 15px;
        i{    font-size: 1rem;}
        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          border-left: 1px solid grey;
          border-right: 1px solid grey;
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          div.social{
            flex: 1;
            text-align: right;
            a{
              color: #000!important;
              margin-right: 10px;
              &:hover{
                color: #75b12f!important;
              }
            }
          }
        }
        &:nth-child(3) {
          flex: 1;
        }
      }
    }
  }
  .show {
    height: auto !important;
  }
  .nav-item {
    .nav-link {
      font-size: 18px;
      margin: 0 10px;
      padding: 7px 13px;
      color: #f1f1f1;
      &.active {
        background: #e89f33 !important;
        color: #ffffff;
        &:hover {
          color: #fff !important;
        }
      }
      &:hover {
        color: #e89f33;
      }
      &:focus {
        color: #ffffff;
        background: #e89f33;
        outline: 0;
      }
    }
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .authPanel {
    padding: 25px 10px;
    border-right: 1px solid rgba(243, 243, 243, 0.9490196078);
    border-left: 1px solid rgba(243, 243, 243, 0.9490196078);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loged_area {
      display: flex;
      justify-content: space-between;
      @media (min-width: 768px) {
        .col-md-6 {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      .form-control {
        height: 30px;
        padding: 0 8px;
        width: 160px;
      }
      div {
        margin: 0 2px;
      }
    }
    .login {
      background: none repeat scroll 0 0 #FDBA12;
      border: 1px solid #999999;
      border-radius: 3px;
      box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5) inset;
      color: #000000;
      cursor: pointer;
      font: normal 12px 'trebuchet_msregular';
      outline: 0 none;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 1;
      &:hover {
        border: 1px solid black;
      }
    }
    .middle-bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 0 4px;
      div {
        flex: 1;
        a {
          color: #1F8CCF;
          text-decoration: none;
          background-color: transparent;
          font-size: 12px;
        }
      }
    }
  }
  .partners {
    margin-bottom: 15px;
    padding: 6px 11px;
    border: 1px solid #e6e6e68c;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .intro {
      flex: 0.6;
      font-size: 18.1px;
      font-weight: 500;
      line-height: 1.2;
    }
    .items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 2;
      flex-wrap: wrap-reverse;
    }
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 68% !important;
  color: #dc3545;
}

