.product {
  width: 100%;
  box-shadow: 1px 6px 9px -1px #1d1b1b36;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 250px;
  &:hover{
    cursor: default;
    .addTocart{
      background: #a6b32a !important ;
    }
  }
  .photo {
    height: 225px;
    width: 100%;
    background: #fff;
    img {
      width: 100%;
      height: 225px;
      -o-object-fit: contain;
      object-fit: contain;
      padding: 18px;
    }
  }
  .base {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efefef;
    min-height: 211px;
    .title{
      font-size: 1.3rem;
      color: #1d3500;
      text-align: center;
      line-height: 1.2;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      margin-bottom: 0;
      text-transform: capitalize;

    }

    .inner {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      .weight {
        flex: 1;
        color: #585757;
        padding: 4px 8px;
        border-radius: 4px;
        background: #b4cc0933;
        font-weight: bold;
      }
      .price {
        flex: 1;
        color: #ffffff;
        background: #f44336c7;
        padding: 4px 13px;
        border-radius: 13px;
        text-align: center;
        margin: 10px 0;
      }
    }
    .addCart {
      width: 100%;
      display: flex;
      justify-content: center;
      .addTocart {
        color: #ffffff;
        border: 0;
        padding: 10px 8px;
        border-radius: 4px;
        background: #72bb1c;
        display: block;
        width: 100%;
        font-size: 1rem;
        transition: all 0.3s ease;
        position: relative;
        outline: 0;
        .item{
          display: inline-block;
          left: 12px;
          background: #4d524d;
          position: absolute;
          border-radius: 3px;
          padding: 0 6px;
        }
      }
      .decr{
        outline: 0;
        border: 0;
        width: 45px;
        background: #FF5722;
        border-radius: 3px;
        margin: 0 2px;
      }
    }
  }
}